* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: transparent;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0a7c66;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

/* .nav-links .active {
    color: #0a7c66;
    font-weight: 600;
} */


.btn-signup:hover {
    background-color: #39553f;
}

.btn-signup {
    background-color: #0a7c66;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 450px;
}


.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.hero-left p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.btn-primary {
    background-color: #0a7c66;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #39553f;
}



/* Right Side */
.hero-right {
    width: 50%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

.image-box {
    background-color: #f2c94c;
    padding: 40px;
    position: relative;
}

.image-box img {
    width: 350px;
    height: 300px;
    display: block;
    border-radius: 6px;
}


/* Page 2 */
.about_us {
    height: 685px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.img-collection {
    position: relative;
    width: 500px;
    height: 500px;
    padding-left: 120px;
}

/* Top Image */
.img-top {
    position: absolute;
    padding-top: 150px;

    width: 380px;
    height: 450px;
    border-radius: 6px;
    z-index: 2;
}

/* Bottom Image */
.img-btm {
    /* position: absolute; */
   
    width: 420px;
    height: 500px;
    border-radius: 6px;
}

.aboutus_info{
    margin-left: 300px;
    width: 50%;
}


.aboutus_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.aboutus_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

/* Page 3 */
.our_mission{
    height: 602px;
    display: flex;
    justify-content: space-evenly
    ;
    align-items: center;

}

.ourmission_info{
    margin-left: 100px;
    width: 50%;
}


.ourmission_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.ourmission_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.grid_right{    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 40px; /* space between boxes */
    max-width: 550px;
    margin: auto;
    padding: 50px 20px;
}

.icon{
    background-color: #0a7c66;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 4px;
    padding-top: 4px;
}

.grid_right_1 {
    text-align: left;
  }



/* healyourself */

.heal_yourself{
    position: relative; 
    height: 560px;
    
    overflow: hidden;
    align-items: center;
    display: flex;
}
.healimg{
    position: absolute;
    right: 0;

}

.healimg img{
    height: 600px;
    width: 700px;
    object-fit: cover;
    display: block;
    
}

.healyourself_info{
    position: absolute;  
    top: 150px;           
    left: -350px;          
    background-color: #f2c94c;
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.heal.content{
    margin-left: 10px;
    
  
}


/* blog page */
.blog{
    height: 560px;
    /* position: relative; */
}


.green-bg{
    height: 50%;
    background-color: #00715D;
    color: white;
    align-content: center;
    justify-items: center;
    
}



.cards{
    position: absolute;
    display: flex;
    gap: 62px; 
    padding-top: 20px;

}

.card_body{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: black;
    height: auto;
    width: 220px;
    background-color:white;
}

.card_body img{
    height: 150px;
    width: 200px;
}   
