* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: transparent;
    font: Rubik;
}

.container {
    padding: 20px 0;
}

.yellow_background {
    background-color: #FFD967;
    height: 500px;
    /* width: 520px; */
    margin-left: 50%;
    width: 50%;
    /* margin-left: 740px; */
    position: absolute;
}

.main_container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    /* padding: 50px; */
    padding-right: 144px;
    position: relative;
}

/* Combined Navbar + Hero wrapper */
.hero-section {
    background-color: transparent;
    z-index: 10;
    margin-top: 0px;
    margin-top: 0px;

}

/* Navbar */
.navbar {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0a7c66;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-links a:hover {

    color: #00715D;
}



.btn-signup:hover {
    background-color: #39553f;
}

.btn-signup {
    background-color: #00715D;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;

}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;

}


.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.hero-left p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.btn-primary {
    background-color: #00715D;
    color: white;
    padding: 12px 22px;
    border: none;

    cursor: pointer;
}

.btn-primary:hover {
    background-color: #39553f;
}



/* Right Side */
.hero-right {
    width: 50%;
    height: 500px;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


.image-box {
    display: flex;
    flex-direction: row;
    position: relative;
}

.image-box img {
    margin-right: 38px;
    width: 90%;
    height: 350px;
    margin-top: 100px;
    margin-left: 230px;
}

.image-box .herogreenstrip img {

    margin-top: 80px;
    height: 20px;
    width: 20px;
    margin-right: -230px;
}


.herogreystar {
    height: 30px;
    width: 30px;
    margin-right: 100px;
}

.image-box .herogreystar img {
    /* margin-top: 431px; */
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: -22px;
    left: 543px;


    /* margin-right: -210px; */

}

/*---------- Page 2 ----------------- */
.about_us {
    height: 685px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.img-collection {
    position: relative;
    width: 500px;
    height: 500px;
    padding-left: 120px;
}

.img-collection .aboutusgreenstrip {
    position: absolute;
    margin-top: -25px;
    margin-left: 370px;
}

.img-collection .aboutusgraystar {
    height: 91px;
    width: 91px;
    z-index: 10;
    position: absolute;
    bottom: -71px;
}

/* Top Image */
.img-top {
    position: absolute;
    object-fit: contain;
    padding-top: 90px;
    margin-top: 170px;
    margin-left: -28px;
    width: 297px;
    height: 358px;
    border-radius: 6px;
    z-index: 2;
}

/* Bottom Image */
.img-btm {
    position: relative;
    object-fit: contain;
    width: 425px;
    height: 485px;
    border-radius: 6px;
}

.aboutus_info {
    margin-left: 100px;
    width: 50%;
}


.aboutus_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.aboutus_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}






/* Page 3 */
.our_mission {
    height: 602px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ourmission_info {
    margin-left: 100px;
    width: 50%;
}


.ourmission_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.ourmission_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.grid_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 40px;
    /* space between boxes */
    max-width: 550px;
    margin: auto;
    padding: 50px 20px;
}

.icon {
    background-color: #0a7c66;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 4px;
    padding-top: 4px;
}

.grid_right_1 {
    text-align: left;
}

.grid_right_1 img {
    padding: 4px;
}


/* healyourself */

.heal_yourself {
    position: relative;
    height: 680px;

    overflow: hidden;
    align-items: center;
    display: flex;
}

.healyellowstar {
    height: 91px;
    width: 91px;
    /* top: -100px; */
    margin-left: 1345px;
    margin-top: -600px;
    z-index: 10000;
    /* position: ; */
}

.healyellowstar img {
    object-fit: contain;
}


.healimg {
    position: absolute;
    right: 0;
    top: 25px;
    height: 811px;
    width: 811px;

}

.healimg img {
    margin-top: 15px;

    object-fit: fill;
    right: 10px;
    display: block;

}

.healyourself_info {
    height: 574px;

    position: absolute;
    top: 50px;
    right: 600px;
    border-left: 7px solid #FFD96A;
    width: 600px;
    padding: 20px;
    background-color: white;
    bottom: 20px;

    /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1); */
}

.healyourself_info .healhead {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}


.heal_border {
    width: 450px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-top: 15px;
}

.heal_icon {
    width: 30px;
    height: 30px;
    background-color: #00715D;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin-right: 10px;
    padding-bottom: 12px;

}



/* blog page */
.blog {
    margin-top: 20px;
    height: 560px;
    position: relative;
}


.blog_title {
    display: flex;
    /* background-color: #ddd; */
    justify-content: space-between;
    /* align-items: center; */
    width: 1000px;
    margin-bottom: 60px;
    position: relative;
}

.blog_title p {
    font-size: 14px;
    /* color: #00715D; */
}

.blog_title strong {
    display: block;
    font-size: 36px;
    color: white;
    margin-top: 8px;
}

.blog_title .bloggreenstrip {
    margin-left: 415px;
    margin-top: 10px;
    position: absolute;
}

/* View More Button */
.btn_blog {
    height:40px;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 20px; */
    background: transparent;
    cursor: pointer;

}



.green-bg {
    height: 50%;
    background-color: #00715D;
    color: white;
    align-content: center;
    justify-items: center;

}



.cards {
    position: absolute;
    display: flex;
    gap: 62px;
    

}

.card_body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* padding-bottom: 10px; */
    color: black;
    height: 100px;
    width: 220px;
    background-color: white;
}

.card_body img {
    height: 150px;
    width: 200px;
}

/* .card_body a {
    padding-bottom: auto;
} */

/* FAQS */

.faq {
    position: relative;
    height: 560px;
    margin-top: 50px;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.faqimg {
    position: absolute;
    left: 0;

}

.faqimg img {
    height: 600px;
    width: 700px;
    object-fit: cover;
    display: block;

}

.faq_info {
    width: 600px;
    position: absolute;
    top: 60px;
    left: 600px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.faq_content {
    margin-top: 16px;
    width: 400px;


}

.faq_content h4 {
    color: #2A2D33;

    padding-top: 10px;
    font-family: Quicksand;
    font-weight: 300;

}





.faq_border {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-top: 15px;
}

.faq_icon {
    width: 35px;
    height: 35px;
    background-color: #00715D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq_icon img {
    width: 16px;
    height: 16px;

}



/* Article Page */
.article {
    background-color: #FCFBF7;
    padding: 80px 100px;
    overflow: hidden;
}


.article_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.article_title p {
    font-size: 14px;
    color: #00715D;
    position: relative;
}

.article_title strong {
    display: block;
    font-size: 36px;
    color: #222;
    margin-top: 8px;
}

.article_title .articlestrip{
    position: absolute;
    margin-left: 410px;
}

/* View More Button */
.btn_viewmore {
    border: 1px solid #0a7c66;
    color: #0a7c66;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
}




/* Cards */
.article_cards {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
}

/* Left Big Card */
.article_left img {
    width: 100%;
    border-radius: 6px;
}

.article_left h3 {
    margin-top: 20px;
    font-size: 22px;
}

.article_left p {
    margin-top: 10px;
    color: #666;
}

/* Right Side */
/* Main div Right */
.article_right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    
}

/* Single card */
.article_small {
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 10;

}

.article .articlestar{
    
    position: absolute;
    z-index: 199;
    margin-left: 1100px;
    margin-top: 300px;

    
}

.article_small img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

.article_small h4 {
    margin-bottom: 8px;
}

.article_small p {
    width: full;
    font-size: 14px;
    color: #666;
}







/* Testimonial Pge*/
.testimonial {
    background-color: #FCFBF7;
    padding: 80px 80px;
}

.testimonial_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.testimonial_title p {
    font-size: 14px;
    color: #00715D;
}

.testimonial_title strong {
    display: block;
    font-size: 36px;
    color: #222;
    margin-top: 8px;
}

/* View More Button */
.btn_viewmore {
    border: 1px solid #0a7c66;
    color: #0a7c66;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
}





.testimonial_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 40px;
    padding: 30px;
}

.testimonial_small {
    display: flex;
    gap: 20px;
    /* align-items: center; */

}

.testimonial_small img {
    width: 222px;
    height: 251px;
    object-fit: cover;
    border-radius: 6px;
}

.testimonial_small h4 {
    padding-top: 12px;
}

.testimonial_small p {
    font-size: 14px;
    color: #666;
}





/* Contact Page */
.contact {
    height: 400px;
    display: flex;
    padding-top: 20px;
    background: #FCFBF7;



}

.contact_section {

    width: 50%;
    padding-left: 150px;

}

.contact_info {

    margin-top: 40px;
    display: flex;

}


.contact_info h4 {
    font-weight: 300;
    padding-left: 10px;
}

/* .send_message{
    
} */

.form_fields input,
textarea {
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 8px;
    height: 40px;
    margin-top: 10px;
    width: 400px;
}

.btn-sendmsg {
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #00715D;
    color: white;
}


.footer {
    background-color: #0D0E0F;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer img {
    height: 35px;
    width: 35px;
    margin-top: 21px;
    border-radius: 50%;
    margin-left: 15px;

}

.footer_info {
    color: white;
    padding-bottom: 20px;
}





/*        TABLET VIEW            */

@media (max-width: 992px) {

    .navbar {
        padding: 20px 30px;
    }

    .yellow_background {
        display: none;
    }

    .hero {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    .hero-left,
    .hero-right {
        padding-top: 5px;
        width: 100%;
    }

    .hero-left p {
        width: 100%;
    }

    .about_us,
    .our_mission,
    .contact {
        flex-direction: column;
        height: auto;
        width: full;
        padding: 40px 20px;
    }

    .aboutus_info,
    .ourmission_info,
    .contact_section {
        width: 100%;
        margin-left: 0;
        padding: 20px 20px;

    }





    .img-collection {
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    .img-top,
    .img-btm {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .grid_right {
        grid-template-columns: 1fr;
        padding: 20px 0;
    }

    .article_cards {
        grid-template-columns: 1fr;
    }

    .testimonial_grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .cards {
        flex-direction: column;
        position: relative;
        align-items: center;
        gap: 20px;
    }

    .faq_info,
    .healyourself_info {
        position: relative;
        width: full;
        left: 0;
        margin-right: 40px;
        top: 0;
    }

    .healyourself_info .heal_border {
        width: 90%;
        margin-right: 10px;
        padding-right: 10px;
    }

    .faqimg,
    .healimg {
        margin-top: 150px;
        position: relative;
        padding: 5px 5px;
        width: full;

    }

    .faqimg img,
    .healimg img {
        width: 90%;
        height: auto;
    }

    .form_fields input,
    .form_fields textarea {
        width: 100%;
    }

    .footer {
        font-size: small;
        justify-content: center;
        align-items: center;
    }
}



/*   ------------------------------MOBILE VIEW ----------------------------------------           */

@media (max-width: 768px) {



    .hero img {
        margin-left: 130px;
        margin-top: 10px;
    }

    .nav-links,
    .yellow_background {
        display: none;
        /* simple hide menu */
    }

    .grid_right {
        margin-left: 20px;
    }

    .btn-signup {
        padding: 8px 12px;
        font-size: 12px;
    }

    .hero-left h1,
    .aboutus_info h1,
    .ourmission_info h1 {
        font-size: 28px;
    }

    .container {
        padding: 20px;
    }

    .card_body {
        width: 100%;
    }

    .heal_yourself {
        height: auto;
        margin-top: -149px;
        margin-right: 10px;
    }

    .healyourself_info {
        height: 500px;
        padding-right: 74px;
        margin-right: -70px;
    }

    .article_small,
    .healimg,
    .testimonial_small {
        flex-direction: column;
        align-items: flex-start;
    }



}